
<%# navagation bar #%>
<h1 class="travel-show-page-title" id="<%=@travelplan.id%>" >Travel Plan Show Page</h1>


<div class = "navigation_bar">
	<div class = "show-category" id ="total"> Total Tab </div>
<% @categories.each do |category| %>
	<div class = "show-category" id = "<%=category.id%>"> <%= category.category_name.capitalize %> Tab</div>
<% end %>
</div> 
<div class = "travel-plan-container">
</div>
