<h1> Travel Planner - TravelKit</h1>

<div class="navigation_container">
<%= link_to "Profile", user_path(@user) %>
<%= link_to "Past Travels", travel_plans_path %>
<%= link_to "Create Travel Plan", new_travel_plan_path %>
<%= link_to "Upload Expenses", '/expense_index' %>
</div>
<br>
<div>
<img></img>
</div>