<h1>User Profile Page</h1>

<div class="profile-image-container">
	<img src="<%= @user.user_profile_image %>"></img>
</div>

<div>Username: <%= @user.username %> </div>
<div>Email: <%= @user.user_email %></div>
<div>Registered_at: <%= @user.created_at %> </div>
<div>Number of Travels This Year: </div>
<div>Upcoming Travel Destination: </div>