body {
	background-color: #3F5DFC;
	background-image: url('http://images.clipartpanda.com/cloud-icon-png-cloud.png');
}

#yield-page {
	padding: 2%;
	position: absolute;
	left: 10%;
	right: 10%;
	height: 1800px;
	background-color: white;
}

#profile-image-container {
	float: left;
}

#profile-information-container {
	padding: 20px;
	line-height: 25px;
	float: left;
}

#profile-page-image {
	width: 300px;
	height: 200px;
}

.tab-class-button {
	line-height: 25px;
	width: 100%;
}

table {
	width: 100%;
	padding: 2px;
	border: solid 1px black;
}

tr {
	padding: 2px;
}

td {
	padding: 2px;
	border: solid 1px black;
	border-bottom: solid 1px black;
}

.navigation_bar {
	padding: 0;
	margin: 0;
	width: 25%;
	float:left;
}

#travel-plan-result-show {
	padding: 0;
	margin: 0;
	float: left;
	width: 70%;
	border: solid 1px blue;
} 

.carousel-pic {
	height: 200px;
}


.panel.panel-info {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	border-top: 0;
	border-style: solid;
}

.panel-body {
	border: 0;
	border-style: solid;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 7px;
	padding-left: 10px;
	border-top: 0;
}

